<div class="monForm">
    <section class="subForm saisieForm">
        <h2>Nouveau CD</h2>
        <form [formGroup]="formulaire">
            <div class="form-group">
                <label for="title">Titre</label>
                <div class="input">
                    <input id="title" class="form-control" type="text" formControlName="title"/>
                    <div *ngIf="formulaire.get('title')?.invalid && formulaire.get('title')?.dirty ||
                        formulaire.get('title')?.touched">
                        <small class="text-danger" *ngIf="formulaire.get('title')?.hasError('required')">
                            Ce champ est requis.
                        </small>
                        <small class="text-danger" *ngIf="formulaire.get('title')?.hasError('minlength')">
                            Ce champ doit comporter au moins 6 caractères.
                        </small>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label for="author">Auteur</label>
                <div class="input">
                    <input id="author" class="form-control" type="text" formControlName="author"/>
                    <div *ngIf="formulaire.get('author')?.invalid && formulaire.get('author')?.dirty ||
                        formulaire.get('author')?.touched">
                        <small class="text-danger" *ngIf="formulaire.get('author')?.hasError('required')">
                            Ce champ est requis.
                        </small>
                        <small class="text-danger" *ngIf="formulaire.get('author')?.hasError('minlength')">
                            Ce champ doit comporter au moins 6 caractères.
                        </small>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="price">Prix</label>
                <div class="input">
                    <input id="price" class="form-control" type="number" formControlName="price"/>
                    <div *ngIf="formulaire.get('price')?.invalid && formulaire.get('price')?.dirty ||
                        formulaire.get('price')?.touched">
                        <small class="text-danger" *ngIf="formulaire.get('price')?.hasError('required')">
                            Ce champ est requis.
                        </small>
                        <small class="text-danger" *ngIf="formulaire.get('price')?.hasError('min')">
                            Le prix doit être supérieur ou égal à 0.
                        </small>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="thumbnail">Image</label>
                <div class="input">
                    <input id="thumbnail" class="form-control" type="text" formControlName="thumbnail"/>
                    <div *ngIf="formulaire.get('thumbnail')?.invalid && formulaire.get('thumbnail')?.dirty ||
                        formulaire.get('thumbnail')?.touched">
                        <small class="text-danger" *ngIf="formulaire.get('thumbnail')?.hasError('required')">
                            Ce champ est requis.
                        </small>
                        <small class="text-danger" *ngIf="formulaire.get('thumbnail')?.hasError('pattern')">
                            L'URL doit être valide et pointer vers une image (png, jpg, jpeg, gif, svg, webp).
                        </small>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="dateDeSortie">Date de sortie</label>
                <div class="input">
                    <input id="dateDeSortie" class="form-control" type="text" formControlName="dateDeSortie"/>
                    <div *ngIf="formulaire.get('dateDeSortie')?.invalid && formulaire.get('dateDeSortie')?.dirty ||
                        formulaire.get('dateDeSortie')?.touched">
                        <small class="text-danger" *ngIf="formulaire.get('dateDeSortie')?.hasError('required')">
                            Ce champ est requis.
                        </small>
                        <small class="text-danger" *ngIf="formulaire.get('dateDeSortie')?.hasError('min')">
                            La valeur doit être supérieure ou égale à 0.
                        </small>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="quantite">Quantité</label>
                <div class="input">
                    <input id="quantite" class="form-control" type="number" formControlName="quantite"/>
                    <div *ngIf="formulaire.get('quantite')?.invalid && formulaire.get('quantite')?.dirty ||
                        formulaire.get('quantite')?.touched">
                        <small class="text-danger" *ngIf="formulaire.get('quantite')?.hasError('required')">
                            Ce champ est requis.
                        </small>
                        <small class="text-danger" *ngIf="formulaire.get('quantite')?.hasError('min')">
                            La quantité doit être supérieure ou égale à 0.
                        </small>
                    </div>
                </div>
            </div>
            
            <button type="submit" [disabled]="formulaire.invalid">Ajouter</button>
        </form>
    </section>
    <section class="subForm visuForm">
        <h2>Vue du CD</h2>
        <div *ngIf="currentCD !== undefined">
            <h3>{{ currentCD.title }}</h3>
            <p>Sortie le: {{ currentCD.dateDeSortie | date: 'dd/MM/yyyy' }}</p>
            <p>Auteur: {{ currentCD.author }}</p>
            <p>Prix: {{ currentCD.price | currency: 'EUR' }}</p>
            <p>Quantité: {{ currentCD.quantite }}</p>
            <img [src]="currentCD.thumbnail" alt="{{ currentCD.title }}">
        </div>
    </section>
</div>