<div class="monForm">
    <section class="subForm saisieForm">
        <h2>Nouveau CD</h2>
        <form [formGroup]="formulaire">
            <div class="form-group">
                <label for="title">Titre</label>
                <input id="title" class="form-control" type="text" formControlName="title"/>
            </div>
            
            <div class="form-group">
                <label for="author">Auteur</label>
                <input id="author" class="form-control" type="text" formControlName="author"/>
            </div>

            <div class="form-group">
                <label for="price">Prix</label>
                <input id="price" class="form-control" type="number" formControlName="price"/>
            </div>

            <div class="form-group">
                <label for="thumbnail">Image</label>
                <input id="thumbnail" class="form-control" type="text" formControlName="thumbnail"/>
            </div>

            <div class="form-group">
                <label for="dateDeSortie">Date de sortie</label>
                <input id="dateDeSortie" class="form-control" type="text" formControlName="dateDeSortie"/>
            </div>

            <div class="form-group">
                <label for="quantite">Quantité</label>
                <input id="quantite" class="form-control" type="number" formControlName="quantite"/>
            </div>
            
            <button type="submit" [disabled]="formulaire.invalid">Ajouter</button>
        </form>
    </section>
</div>